.delivery {
  background-color:rgb(3, 90, 79);
  background-image: url("../../img/111.png");
  box-shadow: 3px 3px #5c4d32, 6px 6px #4a3f29, 9px 9px #3e3626;
}

.engineering {
  background-color: rgb(159, 132, 87);
  background-image: url("../../img/111.png");
  box-shadow: 3px 3px #5c4d32, 6px 6px #4a3f29, 9px 9px #3e3626;
}

.terraforming {
  background-color: rgb(45, 132, 152);
  background-image: url("../../img/111.png");
  box-shadow: 3px 3px #5c4d32, 6px 6px #4a3f29, 9px 9px #3e3626;
}

.military {
  background-color: rgb(109, 54, 77);
  background-image: url("../../img/111.png");
  box-shadow: 3px 3px #5c4d32, 6px 6px #4a3f29, 9px 9px #3e3626;
}


 
.deck {
  width:120px;
  height:200px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 50%;
  cursor: pointer;
  &.open {
    border: 1px dotted rgb(93, 93, 93);
    background-color: #beb2b2;
    background-size: 10px;
    background-image: none;
    box-shadow: none;
    position: relative;
 
  }
  &.disabled {
    filter: grayscale(80%) brightness(
       50%
     );
     cursor: not-allowed;
   } 
   & .closeDeck{
    color: white;
    font-size: 35px;
   }
}
