.resource {
  width: 25px;
  height: 25px;
}
.fuel {
  background-color: purple;
}
.minerals {
  background-color: blue;
}
.biotic-materials {
  background-color: green;
}
.machinery {
  background-color: red;
}
.nanotechnologies {
  background-color: yellow;
}
.dark-matter {
  background-color: black;
}
