.App {
  text-align: center;
  max-width: 1400px;
  height: 100vh;
  margin: auto;
 padding: 50px;
  display: grid;
  grid-template-areas: 
  "player board";
 grid-template-columns:1fr 1fr;
gap: 20px;
background-color: rgb(196, 196, 196);
box-shadow: 0 0 10px 5px rgb(155, 153, 153);
}

.board{
  grid-area: board;
}
.player{
  grid-area: player;
}