.resetButton{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-300%);
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 152, 152);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      background-color: rgb(170, 152, 152);
      color: rgb(255, 255, 255);
    }
}