.container{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}