.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    & .startBtn {
background-color: gray;
width: 300px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
cursor: pointer;
    }
    & .testBtn {
        background-color: rgb(164, 49, 49);
width: 300px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
cursor: pointer;
    }
}